<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, omnis dolore error magnam ipsam aliquid molestias inventore qui dolor dolorum! Deleniti minus doloremque animi, molestiae nihil at laborum aperiam earum!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam fuga temporibus architecto non dicta rerum a ex voluptatum, doloremque vero quaerat esse perferendis voluptatibus exercitationem nemo aut, ut voluptates natus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quasi libero ut nesciunt inventore expedita, suscipit error, porro nam hic quae laudantium aut tempore sint, odio debitis? Quae, recusandae illum!</p>
    </div>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>